.contenedor {
    position: absolute;
    width: 1193px;
    height: 330.87px;
    left: 100px;
    top: 70px;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}
.sombra {
    position: absolute;
    width: 1193px;
    height: 116px;
    left: 4px;
    top: 4px;
    background: rgba(53, 61, 79, 0.8);
    border-radius: 20px 20px 0px 0px;
}
.colornegro1 {
    position: absolute;
    width: 231px;
    height: 84px;
    left: 4px;
    top: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    text-align: justify;
    color: #FFFFFF;
}

.colornegro2 {
    position: absolute;
    width: 681px;
    height: 29px;
    left: 500px;
    top: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    color: #FFFFFF;
}

.contenedor1 {
    position: absolute;
    width: 1193px;
    height: 330.87px;
    left: 100px;
    top: 420px;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}

.sombra2 {
    position: absolute;
    width: 1193px;
    height: 116px;
    left: 4px;
    top: 0px;
    background: rgba(53, 61, 79, 0.8);
    border-radius: 20px 20px 0px 0px;
}

.colornegro11 {
    position: absolute;
    width: 231px;
    height: 84px;
    left: 4px;
    top: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    text-align: justify;
    color: #FFFFFF;
}

.colornegro22 {
    position: absolute;
    width: 681px;
    height: 29px;
    left: 500px;
    top: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    color: #FFFFFF;
}

.colorbtnbtn{
    background: #EA766F;
    color: white;
}
.colorbtnbtn1{
    background: #6EE1A8;
    color: white;
}