<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/productos.css">
</head>
<div class="supercontainer">
    <!-- Navegación-->
    <div class="Navcontainer">
        <nav class="navbar navbar-expand-lg navbar-light bg">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio<span class="sr-only"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Productos<span class="sr-only"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Usuarios<span class="sr-only"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cierre de sesion<span class="sr-only"></a>
                </li>
            </ul>
            <span class="navbar-text">
                <a class="navbar-brand" href="#">Family Benefits</a>
            </span>
            </div>
        </nav>
    </div>

    <!--Barrita azul-->
    <div class="containerbar">
        <div class="barra">
            <nav class="navbar navbar-light bg">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <a>Productos</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <button class="agregar" type="submit">Agregar Producto</button>
                </span>
            </nav>
        </div>
    </div>
    

    <!--menu de productos mas usados-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h5>Productos más prestados</h5>
                <div id="inam" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <div class="container-prod-carousel">
                                <div class="box">
                                    <div class="produtos">
                                        <img class="img card-img-top" src="img/mac1.jpg";/>
                                        <p>Macbook Air 2021</p>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="produtos">
                                        <img class="img card-img-top" src="img/mac2.jpg";/>
                                        <p>Laptop</p>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="produtos">
                                        <img class="img card-img-top" src="img/lap.png";/>
                                        <p>Alien Ware</p>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="produtos">
                                        <img class="img card-img-top" src="img/roloj.jpg";/>
                                        <p>Reloj</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item active">
                            <div class="container-prod-carousel">
                                <div class="box">
                                    <div class="produtos">
                                        <img class="img" src="img/blusa.png";/>
                                        <p>Blusa</p>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="produtos">
                                        <img class="img" src="img/gafas.jpg";/>
                                        <p>Gafas</p>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="produtos">
                                        <img class="img" src="img/sudadera.png";/>
                                        <p>Sudadera</p>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="produtos">
                                        <img class="img" src="img/gorra.jpg";/>
                                        <p>Gorra</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a href="#inam" class="carousel-control-prev" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a href="#inam" class="carousel-control-next" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--menu de productos-->
    <div class="col-sm-12">
        <h5>Mas productos</h5>
        <div class="container-prod">
            <div class="box">
                <div class="produtos">
                    <img class="img" src="img/alexa.jpg";/>
                    <p>Alexa</p>
                </div>
            </div>
            <div class="box">
                <div class="produtos">
                    <img class="img" src="img/engrapadora.jpg";/>
                    <p>Engrapadora</p>
                </div>
            </div>
            <div class="box">
                <div class="produtos">
                    <img class="img" src="img/silla.jpeg";/>
                    <p>Silla</p>
                </div>
            </div>
            <div class="box">
                <div class="produtos">
                    <img class="img" src="img/gorra.jpg";/>
                    <p>Gorra</p>
                </div>
            </div>
            <div class="box">
                <div class="produtos">
                    <img class="img" src="img/estuche.jpg";/>
                    <p>Estuche</p>
                </div>
            </div>
            <div class="box">
                <div class="produtos">
                    <img class="img" src="img/blusa.png";/>
                    <p>Blusa</p>
                </div>
            </div>
            <div class="box">
                <div class="produtos">
                    <img class="img" src="img/gafas.jpg";/>
                    <p>Gafas</p>
                </div>
            </div>
            <div class="box">
                <div class="produtos">
                    <img class="img" src="img/sudadera.png";/>
                    <p>Sudadera</p>
                </div>
            </div>
            <div class="box">
                <div class="produtos">
                    <img class="img card-img-top" src="img/mac1.jpg";/>
                    <p>Macbook Air 2021</p>
                </div>
            </div>
            <div class="box">
                <div class="produtos">
                    <img class="img card-img-top" src="img/mac2.jpg";/>
                    <p>Laptop</p>
                </div>
            </div>
            <div class="box">
                <div class="produtos">
                    <img class="img card-img-top" src="img/lap.png";/>
                    <p>Alien Ware</p>
                </div>
            </div>
            <div class="box">
                <div class="produtos">
                    <img class="img card-img-top" src="img/roloj.jpg";/>
                    <p>Reloj</p>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--Pie de página-->
    <footer class="footer">
        <div class="copyright">
            <div class="barra">
                <p>Copyright &copy; Family Benefits.</p>
            </div>
        </div>
    </footer>
    <!--Pie de página-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
</body>

</html>