<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/prodmodal.css">

    <title>Modal Bienvenido</title>
</head>
<body>
    <div class="modal-container">
        <div class="modal">
            <p class="close">X</p>
            <p class="editar">Editar</p>
            <p class="eliminar">Eliminar</p>
            <div class="modal-img">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            <div id="inam" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="img card-img-top" src="img/mac1.jpg";/>
                                    </div>
                                    <div class="carousel-item active">
                                        <img class="img card-img-top" src="img/mac2.jpg";/>
                                    </div>
                                    <div class="carousel-item active">
                                        <img class="img card-img-top" src="img/mac3.jpg";/>
                                    </div>
                                </div>
                                <a href="#inam" class="carousel-control-prev" data-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                </a>
                                <a href="#inam" class="carousel-control-next" data-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-textos">
                <div class="boxtex">
                    <h2>Apple MacBook Air</h2>
                <p>Marca: apple  No disponible</p>
                <hr>
                <p>
                    La notebook más ligera y delgada de Apple vuelve completamente renovada por dentro. 
                    Gracias al chip M1 diseñado por Apple, el CPU es hasta 3.5 veces más rápido y el GPU hasta 5 veces más veloz.
                </p>
                <p>
                    El Neural Engine más avanzado permite un aprendizaje automático hasta 9 veces superior.*
                    La batería es la de mayor duración en una MacBook Air. Y su diseño sin ventilador es supersilencioso.
                    Nunca había sido tan fácil llevar tanto poder a todos lados.
                </p>
                <p>
                    El chip M1 tiene el CPU más rápido creado por Apple y la MacBook Air sabe cómo sacarle partido.
                    Con su increíble velocidad de procesamiento, puede realizar tareas tan exigentes como editar con calidad
                    profesional y ejecutar juegos llenos de acción. Pero eso no es todo, el CPU de 8 núcleos del chip M1 no
                    sólo es hasta 3.5 veces más veloz que su antecesor², también combina núcleos de alto rendimiento y de
                    eficiencia para realizar tareas del día a día consumiendo una décima parte de la energía.
                </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>